header .logo{
	position: absolute;
	top: 46px;
	left: 66px;
	z-index: 10;
	width: 320px;
	overflow: hidden;
	margin-right: 40px;
}


.login{
	background: url(../img/loginbg.jpg);
	height: 100%;
	min-width: 1200px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
}

.login .loginImg{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -595px;
	width: 670px;
	margin-top: -160px;
}
.login .loginImg img{
	width: 100%;
}

.loginBox{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 180px;
	width: 400px;
	background: #fff;
	margin-top: -170px;
}
.login_mode{
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	height: 52px;
	line-height: 52px;
	border-bottom: 1px solid #ddd;
}
.login_mode span{
	width: 50%;
	display: block;
	float: left;
	/*padding-top: 10px;*/
}

.login_main{
	background: #fff;
	padding: 26px 46px 0;
}
.login_info ul{
	width: 100%;
	margin-top: 30px;
}
.login_info ul li{
	padding-bottom: 12px;
	position: relative;

}
.login_info ul li input{
	border: 1px solid #ddd;
	width: 100%;
	height: 40px;
	line-height: 20px;
	padding: 10px 6px;
	border-radius: 4px;
}
.login-btn{
	cursor: pointer;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	border-radius: 4px;
	background: #414E61;
	margin-top: 10px;
	margin-bottom: 20px;
}
footer p{
	margin-top: 50px;
	position: absolute;
	padding: 0 0 40px 0;
	text-align: center;
	font-size: 14px;
	left: 40%;
	bottom:0;
	color: #fff;
	
}

.btn {
	text-align: right;
	margin-bottom: 20px;
}
.btn a{
	margin-left: 10px;
}
